<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
    <% categories.forEach(function(category){  %>
     <a href="/routes/category/<%= category._id %>"><%- category.title %></a> 
    <% }) %>
  </ul>
  </body>
</html>
