<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- title  %>
    <div class="container">
      <h1></h1>
      <form method="post" action="/categories/edit/<%= category._id %>">
        <div class="form-group">
          <label>Title:</label>
          <input class="form-control" name="title" type="text" value='<%= category.title %>'/>
        </div>
        <div class="form-group">
          <label>Description:</label>
          <textarea class="form-control" name="description" value='<%= category.description %>'></textarea>
        </div>
        <input class="btn btn-primary" type="submit" name="submit" value="Save"/>
        <a class="btn btn-danger" href="/manage/categories">Back</a>
        <a class="btn btn-danger" href="/manage/categories">Delete</a>

      </form>
    </div>
  </body>
</html>
